body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {background-color: #ddd;}
tr.even {background-color: #fff;}
td {padding: 5px;}
#menu {visibility: hidden;}
#main {margin: 1em;}
a:link {color: #b84a01;}
a:visited {color: #6c2b01;}
a:hover {color: #6c2b01;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 0;}
.print-site_name {}
.print-breadcrumb {font-size: x-small;}
.print-title {}
.print-submitted {font-size: small;}
.print-created {font-size: small;}
.print-taxonomy {text-align: right;}
.print-taxonomy li {display: inline;}
.print-content {}
.print-hr {
  /*border: 0;
  height: 3px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;*/
  border-color: #9E9E9E;
  border-style: solid;
  border-width: 2px 0 0;
  clear: both;
  margin: 0 0 0px;
  height: 0;
}


 

.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {text-align: center;}


.col-sm-1 img:nth-child(2),.col-sm-2 img:nth-child(2),.col-sm-3 img:nth-child(2),.col-sm-4 img:nth-child(2),.col-sm-5 img:nth-child(2),.col-sm-6 img:nth-child(2),.col-sm-7 img:nth-child(2),.col-sm-8 img:nth-child(2),.col-sm-9 img:nth-child(2),.col-sm-10 img:nth-child(2),.col-sm-11 img:nth-child(2),.col-sm-12 img:nth-child(2)
{
  display: none;
}

p
{
  text-align: justify;
}